.bg-teal {
  background-color: teal !important;
}
a.nav-link:hover {
  color: teal !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 15px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0 !important;
}

.dropdown-menu a:visited .dropdown-menu {
  display: none !important;
}
