.bg-teal {
  background-color: teal !important;
}
a.nav-link:hover {
  color: teal !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 15px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0 !important;
}

.dropdown-menu a:visited .dropdown-menu {
  display: none !important;
}

.pdiv {
  box-shadow: rgb(0, 255, 255) 1px 1px 3px;
}

.pdiv:hover {
  cursor: pointer;
  box-shadow: rgb(0, 255, 255) 4px 4px 8px;
}

.pview {
  height: 450px;
  width: 18%;
  border: solid grey 2px;
  border-radius: 10px;
  padding: 1%;
  margin-left: 2%;
  margin-top: 15px;
}

@media (max-width: 1500px) {
  .pview {
    width: 23%;
  }
}

@media (max-width: 1200px) {
  .pview {
    width: 30%;
    margin-left: 3%;
  }
}

@media (max-width: 900px) {
  .pview {
    width: 46%;
    margin-left: 4%;
  }
}

@media (max-width: 500px) {
  .pview {
    width: 93%;
    margin-left: 4%;
  }
}
